.App {
  text-align: center;
  font-size: 40px;
}
.App-header {
  background-color: #4f0452;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.joke-list li {
  color: #b3b604;
  font-size: 20px;
  margin: 20px;
  list-style: upper-roman;
}